@page
@model Project_V17.Pages.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FSApp</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FSApp.StaffFirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FSApp.StaffFirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FSApp.StaffSurname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FSApp.StaffSurname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FSApp.Department)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FSApp.Department)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FSApp.Function)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FSApp.Function)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FSApp.CourseName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FSApp.CourseName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FSApp.Level)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FSApp.Level)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FSApp.Provider)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FSApp.Provider)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FSApp.Details)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FSApp.Details)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FSApp.StartYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FSApp.StartYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FSApp.Mode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FSApp.Mode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FSApp.Duration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FSApp.Duration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FSApp.Cost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FSApp.Cost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FSApp.Q1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FSApp.Q1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FSApp.Q2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FSApp.Q2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FSApp.Q3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FSApp.Q3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FSApp.Q4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FSApp.Q4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FSApp.Q5)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FSApp.Q5)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="FSApp.AppID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
